# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
.cache/
*.log
*.tmp

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
.spyproject/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
